#phsOPTlist{
    width: fit-content;
    height: 5rem;
    padding: .5rem;
    border: #090D07 1px solid;
    border-radius: 4px;
    transition: all ease-in .3s;
    overflow: hidden;
    overflow-y: scroll;
}

#phsOPTlist li{
    list-style-type: none;
    padding: 0.2rem;
    border: 2px solid #090D07;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
    margin-bottom: 0.1rem;
    background-color: #fbfbfb;
}

#phsOPTlist li:hover{
    border-color: #79A861;
}