.cont_hrd{
    flex-grow: 2;
    margin: 0.3rem 0.3rem 1.1rem 0.3rem;
    font-size: 35px;
    padding: 0.5rem;
    font-weight: 600;
}

.modeScopes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.phaseField{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.optionalField{
    display: flex;
    flex-direction: row;
}

.innerOptField{
    display: flex;
    flex-direction: column;
}

.innerPhaseField{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    align-self: flex-end;
    margin-bottom: 5rem
}

.innerPhaseList{
    display: flex;
    flex-direction: column;
}

.modScopesComp{
    display: flex;
    flex-direction: column;
}

body{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding: 0.5rem;
    background: #fbfbfb;
}

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}

*{
    font-family: 'Source Sans Pro', sans-serif;
}


.cont_bdy{
    flex-grow: 1000;
    margin: 0.3rem 0.3rem 0.3rem 3rem;
    font-weight: 400;
}

.cont_ftr{
    flex-grow: 5;
    margin: 0.3rem 5rem 5rem 3rem;
    font-weight: 400;
    justify-content: flex-end;
    display: flex;
    align-items: flex-end;
}

/*========================================= - Animation: Create the Line when Click - ========================================*/

._playgrd{
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    flex-direction: row;
}

._content_fld{
    flex-grow: 5;
    flex-shrink: 0.1;
}

#line-canvas{
    flex-grow: 0.1;
    flex-shrink: 5;
    width: 10rem;
}

.timeout{
    animation-duration: 0s !important;
}

@keyframes appeare {
    from{
        opacity: 0;
    }
    to{
        opacity: 50%;
    }
    to{
        opacity: 100%;
    }
}

.optionals .finish{
    margin-top: 3.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

#deletefield, #deletefield_opti{
    height: 5rem;
    width: 16rem;
    border: 4px #79A861 dashed;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #79A861;
    font-weight: bolder;
    align-self: center;
    opacity: 0;
    transition: opacity ease-in-out .4s;
}


/*======================================================================BIG-BIG-ANIMATION=================================================*/

/*.mains, .finish , .cont_ftr, .optionals{
    opacity: 0;
    transform: translateX(100px);
}*/

.normal{
    opacity: 100%;
}

.state1{
    opacity: 100%;
    transform: translateX(100px);
}

.state2{
    opacity: 100%;
    transform: translateX(200px);
}

.mainsAnim, .optionalsAnim, .finishAnim{
    animation-timing-function: ease-in;
    animation-duration: 0.6s;
    animation-name: MoveAnim;
}

.mainsAnimBack, .optionalsAnimBack, .finishAnimBack{
    animation-name: MoveAnim;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-direction: reverse;
}

@keyframes MoveAnim {
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 100%;
        transform: translateX(0px);
    }
}


