<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Button</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/style/cssandjs/BttnResources/style.css" th:href="@{/style/cssandjs/BttnResources/style.css}"/>
    <script type="text/javascript" src="../../static/style/cssandjs/BttnResources/index.js" th:src="@{/style/cssandjs/BttnResources/index.js}"></script>
</head>
<body>
    <div id="bttn-div" th:fragment="bttnFrag(Text,condi)">
        <div class="noTime" th:id="${condi == 'anim_bttn'} ? noTime : noTime_nor">
            <input th:class="${condi == 'anim_bttn'} ? input_bttn_ba : input_bttn_nor" type="checkbox" th:id="${condi == 'anim_bttn'} ? input_bttn : input_bttn_nor"/>
            <label th:data-condition="${condi}" id="input-lbl" th:onclick="|handlecreateClick(event)|" th:for="${condi == 'anim_bttn'} ? input_bttn : input_bttn_nor" class="bttn" th:text="${Text}">Yo</label>
        </div>
    </div>
</body>
</html>