<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Button</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/style/cssandjs/BttnResources/style.css" th:href="@{/style/cssandjs/BttnResources/style.css}"/>
    <script type="text/javascript" src="../../static/style/cssandjs/BttnResources/index.js" th:src="@{/style/cssandjs/BttnResources/index.js}"></script>
</head>
<body>
    <div th:fragment="bttnFrag(Text,condi)">
        <div class="noTime" id="noTime">
            <input type="checkbox" id="input-bttn"/>
            <label id="input-lbl" th:onclick="|handlecreateClick(${condi})|" for="input-bttn" class="bttn" th:text="${Text}">Yo</label>
        </div>
    </div>
</body>
</html>