<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Checkbox</title>
    <link rel="stylesheet" href="../../static/style/cssandjs/cBoxResources/style.css" th:href="@{style/cssandjs/cBoxResources/style.css}"/>
    <script type="text/javascript" src="../../static/style/cssandjs/cBoxResources/index.js" th:src="@{style/cssandjs/cBoxResources/index.js}"></script>
</head>
<body>
    <div th:fragment="cBoxFrag(lblText, index)">
        <div th:id="|cbox${index}|" hidden>
            <input th:id="|cboxing${index}|" th:value="${lblText}" type="checkbox" th:field="*{TempScopeMod[__${index}__]}">
            <label th:for="|cboxing${index}|" th:data-module="${lblText.split(':')[0]}" th:id="|cboxlbl${index}|" th:text="${lblText.split(':')[1]}">
            </label>
        </div>
    </div>
</body>
</html>