<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Dropdown</title>
    <script type="text/javascript" src="../../static/style/cssandjs/DDwnResources/index.js" th:src="@{/style/cssandjs/DDwnResources/index.js}"></script>
    <link rel="stylesheet" href="../../static/style/cssandjs/DDwnResources/style.css" th:href="@{/style/cssandjs/DDwnResources/style.css}"/>
    </head>
<body>
    <div th:fragment="ddwnFrag(elements, map)">
        <select th:data-map="${map}" id="slct_modules" >
            <option th:each="elem : ${elements}" th:value="${elem}" th:text="${elem}">Yoo</option>
        </select>
    </div>
</body>
</html>