<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Optional-Phases List</title>
    <script type="text/javascript" src="../../static/style/cssandjs/OptiResources/index.js" th:src="@{/style/cssandjs/OptiResources/index.js}"></script>
    <link rel="stylesheet" href="../../static/style/cssandjs/OptiResources/style.css" th:href="@{/style/cssandjs/OptiResources/style.css}"/>
</head>
<body>
<div th:fragment="OptPFrag()">
    <nav>
        <input type="text" hidden value="" th:field="*{optional_phases}" id="phaseOPTOutput">
        <ul id="phsOPTlist">
        </ul>
    </nav>
</div>
</body>
</html>