<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Radio Button</title>
    <link rel="stylesheet" href="../../static/style/cssandjs/RdioResources/style.css" th:href="@{style/cssandjs/RdioResources/style.css}">
    <script type="text/javascript" src="../../static/style/cssandjs/RdioResources/index.js" th:src="@{style/cssandjs/RdioResources/index.js}"></script>
</head>
<body>
    <div th:fragment="rdioFrag(value,index)">
        <input class="radioInput" type="radio" th:value="${value}" th:field="*{Quotation}" th:id="${'radio' + index}">
        <label class="radioLbl" th:for="radio" th:text="${value}"></label>
    </div>
</body>
</html>