<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Converting.....</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{style/cssandjs/ActPage/style.css}" href="../static/style/cssandjs/ActPage/style.css">
  <script type="text/javascript" src="../static/style/cssandjs/ActPage/index.js" th:src="@{style/cssandjs/ActPage/index.js}"></script>
</head>
<body>
      <div>
        <div class="svg_image">
        </div>
        <form id="switch_Form" th:action="@{/done}" method="POST">
          <input id="hd_check" type="checkbox" th:checked="*{done}" hidden>
        </form>
        <div class="txt_lbls">
        <label id="mgc_lbl"> </label><label id="bliker">_</label>
        </div>
      </div>
</body>
</html>
