<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Done :)</title>
    <link rel="stylesheet" th:href="@{/style/cssandjs/donePage/style.css}" href="../static/style/cssandjs/donePage/style.css">
    <script type="text/javascript" th:src="@{/style/cssandjs/donePage/index.js}" src="../static/style/cssandjs/donePage/index.js"></script>
</head>
<body>
    <div>
        <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
        <lord-icon
                src="https://cdn.lordicon.com/lupuorrc.json"
                trigger="hover"
                colors="primary:#2f2e41,secondary:#8fb77b"
                style="width:750px;height:750px">
        </lord-icon>
        <div class="lbl_div">
        <span id="txt_done">
            Done :)
        </span>
        </div>
    </div>
</body>
</html>