<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Input Form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
    <script type="text/javascript" th:src="@{/style/cssandjs/BttnResources/index.js}"></script>
    <script type="text/javascript" th:src="@{/style/cssandjs/index.js}"></script>
    <script type="text/javascript" th:src="@{/style/cssandjs/cBoxResources/index.js}"></script>
    <script type="text/javascript" th:src="@{/style/cssandjs/DDwnResources/index.js}"></script>
    <script type="text/javascript" th:src="@{/style/cssandjs/TxInResources/index.js}"></script>
    <script type="text/javascript" th:src="@{style/cssandjs/FileResources/index.js}"></script>
    <script type="text/javascript" th:src="@{style/cssandjs/RdioResources/index.js}"></script>
    <script type="text/javascript" th:src="@{style/cssandjs/DateResources/index.js}"></script>
    <script type="text/javascript" th:src="@{/style/cssandjs/NumbResources/index.js}"></script>
    <script type="text/javascript" th:src="@{/style/cssandjs/RateResources/index.js}"></script>
    <script type="text/javascript" th:src="@{style/cssandjs/ListResources/index.js}"></script>
    <link rel="stylesheet" th:href="@{/style/cssandjs/BttnResources/style.css}"/>
    <link rel="stylesheet" th:href="@{/style/cssandjs/style.css}"/>
    <link rel="stylesheet" th:href="@{/style/cssandjs/DDwnResources/style.css}"/>
    <link rel="stylesheet" th:href="@{/style/cssandjs/TxInResources/style.css}"/>
    <link rel="stylesheet" th:href="@{/style/cssandjs/cBoxResources/style.css}"/>
    <link rel="stylesheet" th:href="@{style/cssandjs/FileResources/style.css}">
    <link rel="stylesheet" th:href="@{style/cssandjs/RdioResources/style.css}">
    <link rel="stylesheet" th:href="@{style/cssandjs/DateResources/style.css}"/>
    <link rel="stylesheet" th:href="@{/style/cssandjs/NumbResources/style.css}">
    <link rel="stylesheet" th:href="@{/style/cssandjs/RateResources/style.css}">
    <link rel="stylesheet" th:href="@{style/cssandjs/ListResources/style.css}">
</head>
<body class="timeout" id="timeOut">
        <div class="cont_hrd">
            Ahh Hello there, I guess you want to make a new Template:
        </div>
        <div class="cont_bdy">
            <div >
                <div th:replace="~{fragments/bttnFrag :: bttnFrag('Create New','anim_bttn','input_bttn')}"></div>
            </div>
            <div class="_playgrd" >
                <canvas id="line-canvas">
                </canvas>
                <div class="_content_fld">
                    <!-- This is only Temporary please delete later and add to css maybe or style better -->
                    <form id="input-form" autocomplete="off" th:object="${outConvs}" th:action="@{/form}" method="POST">
                        <div class="mains" id="mains">
                            <h1 style="font-family: 'Source Sans Pro', sans-serif; font-weight: 400">Inputs:</h1>
                            <div th:replace="~{fragments/txInFrag :: txInFrag('','Who is that Company called','Company')}"></div>
                            <div th:replace="~{fragments/txInFrag :: txInFrag('', 'Hmm how should you call it','Title')}"></div>
                            <hr>
                            <div class="modeScopes">
                                <div class="modScopesComp">
                                    <div th:replace="~{fragments/ddwnFrag :: ddwnFrag(${inModuleNames}, ${inModScopeMap})}">
                                    </div>
                                    <div id="cBoxes">
                                    <div th:each="item, itemStat : ${inScopesNames}" id="cBoxFactory">
                                        <div th:replace="~{fragments/cBoxFrag :: cBoxFrag(${item}, ${itemStat.index})}"></div>
                                    </div>
                                    </div>
                                </div>
                                <div th:replace="~{fragments/listFrag :: ListFrag()}">
                                </div>
                                <div th:replace="~{fragments/bttnFrag :: bttnFrag('Select All','sub_button02', 'input_bttn_slct')}">
                                </div>
                            </div>
                            <hr>
                            <div class="_radioBttns">
                                <div th:each="item, itemStat : ${quotations}" id="radioFactory">
                                    <div th:replace="~{fragments/rdioFrag :: rdioFrag(${item},${itemStat.index})}"></div>
                                </div>
                            </div>
                            <hr>
                          </div>
                        <div class="optionals" id="optionals">
                            <h1 style="font-family: 'Source Sans Pro', sans-serif; font-weight: 400">Optional Inputs:</h1>
                            <div th:replace="~{fragments/numbFrag :: numbFrag('What maintenance do we have here' ,0 ,'maintenance')}"></div>
                            <div th:replace="~{fragments/numbFrag :: numbFrag('What duration are we talking about (in Years)' ,0 ,'duration')}"></div>
                            <hr>
                            <div th:replace="~{fragments/fileFrag :: fileFrag('Where is the Estimation-File', 'estimation')}"></div>
                            <div th:replace="~{fragments/fileFrag :: fileFrag('And where is the Statics-File', 'statics')}"></div>
                            <hr>
                            <div th:replace="~{fragments/dateFrag :: dateFrag('Select till when this Document is valid', 'Valid')}"></div>
                            <div th:replace="~{fragments/dateFrag :: dateFrag('Select the when this Document is/was created' ,'Create')}"></div>
                            <hr>
                            <div th:replace="~{fragments/rateFrag :: rateFrag('What are the Daily-Rates for the Senior-Management', 0, 'SeniorM')}"></div>
                            <div th:replace="~{fragments/rateFrag :: rateFrag('What are the Daily-Rates for the Project-Management', 0, 'ProjectM')}"></div>
                            <div th:replace="~{fragments/rateFrag :: rateFrag('What are the Daily-Rates for the Developers', 0, 'Developer')}"></div>
                            <div th:replace="~{fragments/rateFrag :: rateFrag('What are the Daily-Rates for the Support', 0, 'Support')}"></div>
                            <hr>
                            <div th:replace="~{fragments/pctgFrag :: pctgFrag('How much Percentage does the Senior Managment get', 0.0, 'senior')}"></div>
                            <div th:replace="~{fragments/pctgFrag :: pctgFrag('What Percentage does the Project Managment get', 0.0, 'project')}"></div>
                        </div>
                        <div class="finish" id="finish">
                            <hr>
                            <h1 style="font-family: 'Source Sans Pro', sans-serif; font-weight: 400">Finishing Touch:</h1>
                            <div th:replace="~{fragments/fileFrag :: fileFrag('Where should the File be saved to', 'excelOut')}"></div>
                        </div>
                    </form>
                </div>
                <div class="cont_ftr" id="cont_ftr">
                    <div th:replace="~{fragments/bttnFrag :: bttnFrag('Finish','sub_button01','input_bttn_nor')}"></div>
                </div>
            </div>
        </div>
</body>
</html>