.svg_image{
    background-repeat: no-repeat;
    background-image: url("Done_SVG.svg");
    width: 800px;
    height: 700px;
    margin-top: 2.3rem;
}

.lbl_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

#txt_done{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 72px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}